*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 80%;
    padding: 3rem;
    margin: 0 auto;
    background-color: royalblue;
    color: white;
}
.parent{
    width: 80%;
    padding: 3rem;
    margin: 0 auto;
    background-color: deeppink;
    color: white;
}
.child{
    width: 80%;
    padding: 3rem;
    margin: 0 auto;
    background-color: blanchedalmond;
    color: black;
}

