@media (max-width: 850px) {
    .toggle-button{
        display: flex;
    }
    
    .navbar{
         flex-direction: column;
         align-items: flex-start;
    }

    .navbar-items{
        width: 100%;
        display: none;
    }

    .navbar-items ul{
        width: 100%;
        flex-direction: column;
        /* border: 2px solid red; */
        text-align: center;
    }

    .navbar-items a:hover{
        color: white;
    }
    .navbar-items li:hover{
        background-color: rgb(65, 65, 65);
        border-radius: 30px;
    }

    .navbar-items li{
        padding: .7rem;
    }

    .active{
        display: flex;
    }   
}