*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --primary-bg-color : #404258;
    --secondary-bg-color: #474E68;
    --primary-color: #EFF5F5;
    --secondary-color: #969bac;
}

body{
    min-height: 200vh;
    background-color: var(--primary-bg-color);

    display: flex;
    flex-direction: column;
}

/* utility classes --------------------------------- */

.flexbox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    max-width: 65rem;
    margin: auto;
}


/* ----------------------------------- navbar ------------------------------- */

.navbar-wraper{
    padding: 1.3em 1em;
    font-size: 1.3rem;
    background-color: var(--secondary-bg-color);
    color: var(--primary-color);
    position: sticky;
    top: 0;
    z-index: 1;
}

#navbar{
    justify-content: space-between;
}

#navbar .logo{
    font-family: 'Rubik Distressed', cursive;
}

#navbar .logo i{
    margin-right: .3em;
}



            /* expand btn ---------------------------------- */

.expand-btn{
    flex-direction: column;
    cursor: pointer;
}
.expand-btn span{
    height: 3px;
    width: 35px;
    border-radius: 10px;
    background-color: var(--primary-color);
}
.expand-btn span:first-child{
    margin-bottom: .3em;
}

            /* nav links ---------------------------------------*/

.nav-links-div{
    display: none;
}

            
.nav-links-div ul > *{
    margin-right: 2.5em;
    cursor: pointer;
}

.nav-links-div ul p{
    color: rgb(254, 165, 50);
}

.nav-links-div ul > *:hover{
    color: var(--secondary-color);
}

.nav-links-div ul p:hover{
    color: rgb(224, 135, 19);
}

.active-nav-links-div{
    display: initial;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.active-nav-links{
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: start;
    background-color: var(--secondary-bg-color);
    min-height: 100vh;
}

.active-nav-links > *{
    margin: 1.5em .5em !important;

}

@media (min-width: 800px){
    .expand-btn{
        display: none;
    }

    .nav-links-div{
        display: flex;
    }
}


/* main part --------------------------------------------- */

main{
    margin: 2em auto;
    text-align: center;
}

section h2{
    color: var(--primary-color);
    position: relative;
}

section h2::after{
    content: '';
    left: 0;
    top: calc(50% - 3px);
    position: absolute;
    height: 3px;
    width: 40%;
    background-color: var(--secondary-color);
}

section h2::before{
    content: '';
    right: 0;
    top: calc(50% - 3px);
    position: absolute;
    height: 3px;
    width: 40%;
    background-color: var(--secondary-color);
}

.cards{
    margin: 1em;
}

.card{
    border-radius: 10px;
    width: fit-content;
    position: relative;
    margin: 2em auto;
    overflow: hidden;

}

.card img{
    border-radius: 10px;
    width: 100%;
}

.card .overlay{
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 1.3rem;
    color: var(--primary-color);
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
}

.card .overlay:hover{
    opacity: 1;
    transform: translateY(0);
    cursor: pointer;
}

@media (min-width: 400px) {
    .cards{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .cards > *{
        flex: 1 1 200px;
        max-width: 220px;
        margin-inline: 1em;
    }
}



/* footer ------------------------------------------- */
footer{
    margin-top: auto;
    background-color: var(--secondary-bg-color);
    color: var(--primary-color);
    padding: 1em;
    text-align: center;
}