*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

:root{
    --primary-bg-color : #404258;
    --secondary-bg-color: #474E68;
    --primary-color: #EFF5F5;
    --secondary-color: #9fa0a7;
}

/*  scrollbar ------------------------------- */

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track{
    background-color: var(--secondary-bg-color);
}
::-webkit-scrollbar-thumb{
    background-color: var(--primary-color);
    border-radius: 10px;
}

body{
    min-height: 100vh;
    background-color: var(--primary-bg-color);

    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

/* utility classes --------------------------------- */

.flexbox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    max-width: 73rem;
    margin: auto;
}

.btn{
    border: none;
    padding: .5em 1em;
    border-radius: 5px;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.5);
    background-color: var(--primary-bg-color);
    color: var(--primary-color);
    transition: background-color 0.3s, color 0.3s;
}

.btn:hover{
    cursor: pointer;
    color: var(--primary-bg-color);
    background-color: var(--primary-color);
}


/* ----------------------------------- navbar ------------------------------- */

.navbar-wraper{
    padding: 1.3em 1em;
    font-size: 1.3rem;
    background-color: var(--secondary-bg-color);
    color: var(--primary-color);
    position: sticky;
    top: 0;
    z-index: 1;
}

#navbar{
    justify-content: space-between;
}

#navbar .logo{
    font-family: 'Rubik Distressed', cursive;
    cursor: pointer;
}

#navbar .logo i{
    margin-right: .3em;
}



        /* expand btn ---------------------------------- */

.expand-btn{
    flex-direction: column;
    cursor: pointer;
}
.expand-btn span{
    height: 3px;
    width: 35px;
    border-radius: 10px;
    background-color: var(--primary-color);
}
.expand-btn span:first-child{
    margin-bottom: .3em;
}


        /* nav links ---------------------------------------*/

.nav-links-div{
    display: none;
}

            
.nav-links-div ul > *{
    margin-right: 2.5em;
    cursor: pointer;
}

.nav-links-div ul p{
    color: rgb(254, 165, 50);
}

.nav-links-div ul > *:hover{
    color: var(--secondary-color) !important;
}

.nav-links-div ul p:hover{
    color: rgb(224, 135, 19) !important;
}

.active-nav-links-div{
    display: initial;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.active-nav-links{
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: start;
    background-color: var(--secondary-bg-color);
    min-height: 100vh;
}

.active-nav-links > *{
    margin: 1.5em .5em !important;

}

@media (min-width: 800px){
    .expand-btn{
        display: none;
    }

    .nav-links-div{
        display: flex;
    }
}


/* slider --------------------------------------- */

.slider{
    width: 100vw;
    height: 60vh;
    min-height: 400px;
    background-size: cover;
    transition: background-image 2s;
    background-position: center center;
    position: relative;
}

.slider-animation{
    opacity: 0;
}

.slider .slider-overlay{
    position: absolute;
    inset: 0;
    background-color: rgba(10, 40, 116, 0.721);
    display: flex;
    align-items: flex-end;
}

.slider form{
    margin: 0 auto;
    margin-bottom: 2em;
    width: 80%;
    align-items: stretch;
}

.slider form input{
    width: 100%;
    font-size: 1.1rem;
    padding: .5em 1em;
    border: none;
    color: var(--primary-bg-color);
    background-color: var(--primary-color);
    border-radius: 50px;
}

.slider form input:focus{
    outline: none;
}

.slider form button{
    width: 50px;
    height: 50px;
    margin-left: -50px;
    border: none;
    font-size: 1.5rem;
    color: var(--primary-bg-color);
    background-color: var(--primary-color);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.slider form button:hover{
    background-color: #b2b8cacd;
}



/* main part --------------------------------------------- */

section{
    margin: 0 auto 5em;
}

.page-title{
    text-align: center;

    color: var(--primary-color);
    position: relative;
    margin: 2em 0;
}

.page-title::after{
    content: '';
    left: 0;
    right: 0;
    z-index: -1;
    top: calc(50% - 3px);
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: var(--primary-color);
}

.page-title-text{
    background-color: var(--primary-bg-color);
    padding: 0 1em;
}

/* cards ------------------------------------------------ */

.cards{
    margin: 1em 0;
    color: var(--primary-color);
}

.card{
    border-radius: 10px;
    width: 200px;
    height: 300px;
    position: relative;
    margin: 2em auto;
    overflow: hidden;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    color: var(--secondary-color);
    text-align: center;
}

.card img{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .overlay{
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 1.3rem;
    color: var(--primary-color);
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
    padding: .5em;
}

.card .overlay:hover{
    opacity: 1;
    transform: translateY(0);
    cursor: pointer;
}

@media (min-width: 400px) {
    .cards{
        display: flex;
        justify-content: space-evenly; 
        align-content: stretch;  
        flex-wrap: wrap;
        clear: both;
    }

    .cards > *{
        flex: 1 1 200px;
        max-width: 200px;
        margin-inline: 1em;
    }

}

.page-content{
    display: none;
    transform: translateY(100px);
    transition: transform 0.3s;
}

.active-page{
    display: initial;
    transform: translateY(0px);
}

/* pagination --------------------------- */
.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3em 0;
}

.pagination > *{
    color: var(--primary-color);
    margin-inline: 1em;
    transition: color 0.3s, background-color 0.3s;
    cursor: pointer;
}

.pagination p{
    color: var(--secondary-bg-color);
    background-color: var(--primary-color);
    padding: .5em 1em;
    border-radius: 23px;
    font-weight: 600;
    
}

.pagination p:hover{
    background-color: var(--secondary-bg-color);
    color: var(--primary-color);
}

.pagination .pages{
    margin-inline: 1em;
}

.pagination .pages span{
    margin-inline: .3em;
    padding: .3em;
    border-radius: 23px;
    cursor: pointer;
    transition: color 0.3s, background-color 0.3s;

}

.pagination .pages span:hover, .active-page-no{
    background-color: var(--primary-color);
    color: var(--secondary-bg-color);
}

.pagination #page-btn-1, .pagination #page-btn-2{
    display: none;
}

@media (min-width: 700px) {
    .pagination #page-btn-1, .pagination #page-btn-2{
        display: initial;
    }

    .pagination .pages span{
        margin-inline: .5em;
        padding: .5em;
    }

    .pagination .pages{
        margin-inline: 1.5em;
    }   
}

/*  expand card ----------------------------------------------- */

.expand-card{
    text-align: left;
    max-width: 80rem;
    padding: 0 2em;
    margin: auto;
}


.back{
    padding-inline: 2em;
    margin: 1.5em 0;
    font-size: 1rem;
    font-weight: 600;
    background-color: var(--primary-color);
    color: var(--primary-bg-color);
}
.back i{
    margin-right: .5em;
}

.back:hover{
    color: var(--primary-color);
    background-color: var(--primary-bg-color);
}

.expand-card-main{
    width: 100vw;
    height: 60vh;
    left: calc(-50vw + 50%);

    min-height: 500px;
    background-image: url("https://image.tmdb.org/t/p/w1280/bQXAqRx2Fgc46uCVWgoPz5L5Dtr.jpg");
    background-size: cover;
    background-position: center top;
    
    position: relative;
    
}

.expand-card-main .video{
    position: absolute;
    inset: 0;
    background-color: var(--secondary-bg-color);
    color: var(--primary-color);

    display: none;
}

.active-video{
    display: flex !important;
}

.expand-card-main .video .cross{
    position: absolute;
    top: -30px;
    right: 10px;
    background-color: red;
    color: white;
    font-size: 1rem;
}

.expand-card-main .main-content{    
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 2em;

    background-color: rgba(10, 40, 116, 0.642);
    color: var(--primary-color);

}

.expand-card-main .main-content .name{
    font-size: 1.5rem;
    margin-bottom: .5em;
    max-width: 70%;
    text-align: left;
}


button.watch-trailer i{
    margin-right: .7em;
}

/* genres ----------- */

.genres{
    display: flex;
    flex-wrap: wrap;
    margin: .5em;
    margin-left: 1.5em;
}

.genres span{
    background-color: var(--secondary-bg-color);
    color: var(--primary-color);
    padding: .5em 1em;
    border-radius: 23px;
    margin-block: .5em;
    margin-right: 1em;
    width: calc(max-content + 2em);
}

.expand-card .info{
    color: var(--secondary-color);
    margin: 2em 1em;
    margin-left: 1.5em;
}

.expand-card .info span{
    color: var(--primary-color);
}

.expand-card .info a{
    text-decoration: none;
    color: var(--primary-color);
}

.expand-card .info a:hover{
    color: var(--secondary-color);
}

.expand-card .intro{
    margin: 2em 1em;
    margin-left: 1.5em;
    color: var(--primary-color);
}

.expand-card .intro .tag-line{
    font-size: 1.5rem;
    margin-bottom: .3em;
}

.expand-card .intro .overview{
    color: var(--secondary-color);
}

@media (min-width : 800px){

    .expand-card-main .main-content{
        padding: 3em;
    }

    .expand-card-main .main-content .name{
        font-size: 2rem;
    }

    button.watch-trailer{
        font-size: 1.1rem;
    }

    .genres{
        margin-inline: 3em;
    }

    .expand-card .info-intro{
       display: flex;

    }

    .info-intro .info{
        margin-left: 3em;
        width: 30%;
        max-width: 200px;
    }

    .info-intro .intro{
        width: 70%;
    }
}

/* footer ------------------------------------------- */
footer{
    margin-top: auto;
    background-color: var(--secondary-bg-color);
    color: var(--primary-color);
    padding: 1em;
    text-align: center;
}